body {
    background-color: #c4d7ff;
}

.title {
    text-align: center;
    color: #313e85;
}

.Location {
    font-weight: bold;
    color: #313e85;
}

.Search {
    text-align: center;
    font-weight: bold;
}

.frontpage {
    display: block;
    width: 100%;
    text-align: center;
}

.kaiju-Workspace {
    min-height: 450px;
    background-color: #c4d7ff;
}

.panelcontent {
    position: relative;
}

.apptform {
    color: #313e85;
    font-weight: bold;
    text-align: center;
}